<div class="header">
  <div class="row bg p-2">
    <div class="col-md-3"></div>
    <div class="col-md-2 ml-3 text-right">
      <img src="assets/image/logo.webp" height="65px" width="70px" alt="EasyMart Logo" class="logo">
    </div>
    <div class="col-md-3 font-size">Maurya General Store</div>
    <div class="col-md-1 font-size" > <i class="fas fa-home"></i> Home</div>
    <div class="col-md-1 font-size">
      <i class="fas fa-shopping-cart"></i> Cart
    </div>
    <div class="col-md-1 font-size" >
      <button>
        <i class="fas fa-user"></i> Login
      </button>
    </div>
    
  </div>
</div>